
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
}
#container {
    display: flex;
    width: 100%;
}
#left {
    width: 25%;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}
#right {
    width: 75%;
    padding: 20px;
}
#profile-pic {
    width: 150px;
    border-radius: 50%;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
}
