
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
}
#container {
    display: flex;
    width: 100%;
}
#left {
    width: 25%;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}
#right {
    width: 75%;
    padding: 20px;
}
#profile-pic {
    width: 150px;
    border-radius: 50%;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
}

a {
  text-decoration: none;
  color: #0645AD; /* or keep it as 'blue' or any hex/RGB value you prefer */
}

a:hover {
  text-decoration: underline;
  color: #0b0080;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

